@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background: url('images/background.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
color: #FFC312;
}

/* signup starts */

.signupcard {
height: 400px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}
.signup_btn{
color: black;
background-color: #FFC312;
width: 100px;
}
.signup-header h3{
	color: white;
}

/* menu starts */

.menu-header h1{
	color: white;
}

.menucontainer {
	height : 100%
}

#item1, #item2, #item3, #item4, #item5, #item6 {
  text-align: center;
  width: 300px;
  margin-left: 12%;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(58, 58, 58);
}
.itemQuantityBtn {
  border: none;
  outline: none;
  width: 30px;
  background: #FFC312;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin: 10px;
  display: inline-block;
}

.itemQuantityBtn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.menuOrderDetails {
  display: inline-block;
  padding: 12px 8px;
  height: 20px;
  width: 100px;
  margin: -20px -50px;
  position: relative;
  top: 50%;
  left: 50%;
}

#menuSpacer{
	width: 15%;
}

#orderTotal {
  margin-top: 20px;
  font-size: 18px;
}

.amount {
  display: inline;
}

.images {
  padding: 10px;
  border-radius: 15px;
}

.checkout_btn{
	text-align: center;
	background-color: #FFC312;
	width: 100px;
}

.checkout-header h1{
	color: white;
}




















